<ion-content>
  <form>
    <ion-item>
      <ion-label>Place</ion-label>
      <ion-input [(ngModel)]="trajet.place" name="place"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Départ</ion-label>
      <ion-input [(ngModel)]="trajet.depart" name="depart"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Arrivée</ion-label>
      <ion-input [(ngModel)]="trajet.arrive" name="arrive"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date de départ</ion-label>
      <ion-datetime [(ngModel)]="trajet.datedepart" name="datedepart"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Places disponibles</ion-label>
      <ion-input [(ngModel)]="trajet.placedisponible" name="placedisponible"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Coût</ion-label>
      <ion-input [(ngModel)]="trajet.cout" name="cout"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Conducteur</ion-label>
      <ion-input [(ngModel)]="trajet.conducteur" name="conducteur"></ion-input>
    </ion-item> -->

    <ion-button expand="full" (click)="addTrajet()">Ajouter</ion-button>
  </form>
</ion-content>
