<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button style="color: white;"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-content">
    <h2 style="margin-left: 10px; font-size: 18px; font-weight: bold;">Profile details</h2>

    <!-- Profile Info Fields -->
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="userProfile.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">lastname</ion-label>
      <ion-input [(ngModel)]="userProfile.lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="userProfile.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input [(ngModel)]="userProfile.phone"></ion-input>
    </ion-item>

    <!-- Save Profile Button -->
    <ion-button 
      expand="block" 
      style="margin: 20px auto; --background: #ff5722; width: 60%;" 
      (click)="updateUserProfile()"
      >
      Save updates
    </ion-button>



  </div>
</ion-content>