<ion-header>
  <ion-toolbar color="secondry">
    <ion-title>Mes Trajets</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToAddTrajetPage()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <!-- "Mes Trajets" Tab -->
      <ion-tab-button tab="mes-trajets">
        <ion-icon name="car"></ion-icon>
        <ion-label>Mes Trajets</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="reservation">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Reservation</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-circle"></ion-icon> 
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

    <!-- Content for Each Tab -->
    <ion-tab tab="mes-trajets">
      <ion-content>
        <ion-list *ngIf="trajets && trajets.length > 0; else noTrajetsMessage">
          <ion-item *ngFor="let trajet of trajets">
            <ion-label>
              <h2> {{ trajet.place }} </h2>
              <p>De {{ trajet.depart }} à {{ trajet.arrive }}</p>
              <p>Date de départ: {{ trajet.datedapart | date: 'yyyy-MM-dd' }}</p>
              <p>Places disponibles: {{ trajet.placedisponible }}</p>
              <p>Coût: {{ trajet.cout }} DT</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <ng-template #noTrajetsMessage>
          <div class="no-trajets">
            <p>Aucun trajet trouvé pour cet utilisateur.</p>
          </div>
        </ng-template>
      </ion-content>
    </ion-tab>

    <ion-tab tab="reservation">
      <ion-content>
        <div class="example-content">
          <h2>Reservation</h2>
          <!-- Reservation content goes here -->
          <p>Your reservations and details will appear here.</p>
        </div>
      </ion-content>
    </ion-tab>
    
    <!-- Profile Tab -->
    <ion-tab tab="profile">
      <ion-content>
        <div class="example-content">
          <h2>Profile</h2>
          <!-- Profile content goes here -->
          <p>Your personal profile information will appear here.</p>
        </div>
      </ion-content>
    </ion-tab>
  </ion-tabs>
</ion-content>
