<ion-header>
  <ion-toolbar>
    <ion-title>Mes Trajets</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToAddTrajetPage()" fill="clear">
        <ion-icon slot="icon-only" name="add-circle-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="mes-trajets">
        <ion-icon name="car"></ion-icon>
        <ion-label>Mes Trajets</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="reservation">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Réservation</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

    <!-- Mes Trajets Tab -->
    <ion-tab tab="mes-trajets">
      <ion-content>
        <div *ngIf="trajets && trajets.length > 0; else noTrajetsMessage">
          <ion-card class="trajet-card" *ngFor="let trajet of trajets">
            
            <ion-card-content>
              <ion-row>
                <ion-col size="auto" class="content-left">
                  <p class="dest">From {{ trajet.from }} to {{ trajet.to }}</p>
                  <p>Heure de départ: {{ trajet.depart }}h </p>
                  <p>Date de départ: {{ trajet.datedapart | date: 'yyyy-MM-dd' }}</p>
                  <p>Places disponibles: {{ trajet.placedisponible }}</p>
                  <p>Coût: {{ trajet.cout }} DT</p>
                </ion-col>
                
                <ion-col size="auto" class="content-right">
                  <ion-button class="trash" fill="clear" (click)="deleteTrajet(trajet)">
                    <ion-icon  name="trash-outline" color="danger"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
            
          </ion-card>
        </div>
        <ng-template #noTrajetsMessage>
          <div class="no-trajets">
            <p>Aucun trajet trouvé pour cet utilisateur.</p>
          </div>
        </ng-template>
      </ion-content>
    </ion-tab>

    <!-- Reservations Tab -->
    <ion-tab tab="reservation">
      <ion-content>
        <div class="reservation-content">
          <div *ngIf="reservations && reservations.length > 0; else noReservationsMessage">
            <ion-card class="reservation-card" *ngFor="let reservation of reservations">
              
              <ion-card-content>
                <ion-row>
                  <ion-col size="auto" class="rescard">
               
                  <p class="dest">From: {{ reservation.trajet.from }} to  {{ reservation.trajet.to }} </p>
                  <p>Date: {{ reservation.date | date: 'yyyy-MM-dd' }}</p>
                  <p>Passenger: {{ reservation.passager.name }} {{ reservation.passager.lastname }}</p>
                  <p>Email: {{ reservation.passager.email }}</p>
                  <p>Phone: {{reservation.passager.phone}}</p>
                </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-text-center">
                   
                    <ion-button 
                    color="success" 
                    [disabled]="reservationStatus === 'confirmed' || reservationStatus === 'rejected'"
                    (click)="confirmReservation(reservation._id)">
                      <ion-icon slot="start" name="checkmark-circle"></ion-icon>
                      Approve
                    </ion-button>
                  </ion-col>
                  <ion-col class="ion-text-center">
                    <ion-button color="danger" 
                    [disabled]="reservationStatus === 'confirmed' || reservationStatus === 'rejected'"
                    (click)="cancelReservation(reservation._id)">
                      <ion-icon slot="start" name="close-circle"></ion-icon>
                      Reject
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-card-content>
              <ion-buttons slot="end">
                <ion-button color="success">
                  <ion-icon name="checkmark-circle"></ion-icon>
                </ion-button>
                <ion-button color="danger">
                  <ion-icon name="close-circle"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-card>
          </div>

          <ng-template #noReservationsMessage>
            <div class="no-reservations">
              <p>Aucune réservation trouvée.</p>
            </div>
          </ng-template>
        </div>
      </ion-content>
    </ion-tab>

    <!-- Profile Tab -->
    <ion-tab tab="profile">
      <ion-content>
        <div class="example-content">
          <h2>Profile</h2>
          <p>Your personal profile information will appear here.</p>
        </div>
      </ion-content>
    </ion-tab>
  </ion-tabs>
</ion-content>

