<ion-header>
  <ion-toolbar style="--background: #e64a19; color: #f2f2f7;">
    <ion-buttons slot="start" >
      <ion-back-button style="color: #f2f2f7;"></ion-back-button>
    </ion-buttons>
    <ion-title>Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="trajet">
  <!-- Trajet Details Card -->
 
  <ion-card class="card-shadow">
    
    <ion-card-header>
      <ion-card-title>Ride details</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <!-- Display Trajet Details in Rows -->

        <ion-row>
          <ion-col size="6">
            <ion-text color="primary">
              <h3>From</h3>
            </ion-text>
            <p>{{ trajet.from }}</p>
          </ion-col>
          <ion-col size="6">
            <ion-text color="primary">
              <h3>To</h3>
            </ion-text>
            <p>{{ trajet.to }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-text color="primary">
              <h3>Date</h3>
            </ion-text>
            <p>{{ trajet.datedapart | date:'MMMM dd, yyyy' }}</p>
          </ion-col>
          <ion-col size="6">
            <ion-text color="primary">
              <h3>Departure</h3>
            </ion-text>
            <p>{{ trajet.depart }}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-text color="primary">
              <h3>Price</h3>
            </ion-text>
            <p>{{ trajet.cout }}DT</p>
          </ion-col>
          <ion-col size="6">
            <ion-text color="primary">
              <h3>Driver</h3>
            </ion-text>
            <p>{{ trajet.conducteur.name }} {{ trajet.conducteur.lastname }}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-text color="primary">
              <h3>Email</h3>
            </ion-text>
            <p>{{ trajet.conducteur.email }}</p>
          </ion-col>
          <ion-col size="6">
            <ion-text color="primary">
              <h3>Phone</h3>
            </ion-text>
            <p>{{ trajet.conducteur.phone}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <form (ngSubmit)="addReservation()">
        <ion-button expand="full" type="submit" style="--background: #e64a19; color: #f2f2f7;" class="submit-button">
          Book
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
