<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Reservation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Date</ion-label>
    <ion-datetime [(ngModel)]="reservationData.date"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Passager ID</ion-label>
    <ion-input [(ngModel)]="reservationData.passager"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Trajet</ion-label>
    <ion-input [(ngModel)]="reservationData.trajet"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Confirmed</ion-label>
    <ion-checkbox [(ngModel)]="reservationData.confirmed"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Cancelled</ion-label>
    <ion-checkbox [(ngModel)]="reservationData.cancelled"></ion-checkbox>
  </ion-item>

  <ion-button expand="block" (click)="addReservation()">Add Reservation</ion-button>


</ion-content> -->


<ion-header>
  <ion-toolbar>
    <ion-title>Trajet Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="trajet">
  <!-- Display trajet details -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ trajet.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>ID: </strong>{{ trajet._id }}</p>
      <p><strong>Destination: </strong>{{ trajet.place }}</p>
      <p><strong>Departure: </strong>{{ trajet.depart }}</p>
      <p><strong>Date: </strong>{{ trajet.datedapart   }}</p>
      <!-- Add other relevant details as needed -->
    </ion-card-content>
  </ion-card>
</ion-content>
