<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="goHome()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image">
    <img src="assets/background.jpg" alt="Background Image" />
  </div>


  <div class="login-container">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="loginData.email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="loginData.password" type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="login()">Login</ion-button>
    <a (click)="goToRegister()" class="account-message">
      Don't have an account?
    </a>
  </div>
</ion-content>
