<ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="register-content">
    <img class="register-image" src="../../assets/background.jpg" alt="Registration Image" />
    <div class="register-container">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="userdata.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Lastname</ion-label>
        <ion-input [(ngModel)]="userdata.lastname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="userdata.email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="userdata.password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input [(ngModel)]="userdata.phone" ></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>Carpooler</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="userdata.isCovoitureur"></ion-checkbox>
      </ion-item>

      <ion-button expand="block" (click)="register()">Register</ion-button>
      <a (click)="goToLogin()" class="account-message">
        Already have an account?
      </a>
    </div>
  </div>
</ion-content>
